.cards-row {
	margin-bottom: 54px;
	margin-bottom: 54px;
	max-width: 76vw;
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	white-space: nowrap; /* Prevent line breaks in child elements */
}

.cards-row::-webkit-scrollbar {
	display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.cards-row {
	display: inline-flex; /* Align cards horizontally */
	flex-wrap: nowrap; /* Prevent wrapping of cards */
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
::-webkit-scrollbar-button {
	width: 2px;
	height: 2px;
}
