.main {
	display: grid;
	grid-template-columns: 1fr 269px;
}

.container {
	padding-top: 14px;
	padding-inline: 20px;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 40px;
}

.title-start {
	color: #352e5b;
	font-weight: bold;
	font-size: 28px;
}

.title-end {
	color: #7d67ff;
	font-size: 16px;
}

.title-end::after {
	margin-left: 16px;
	content: url(./assets/arrow.svg);
}
