.trader-profile-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 38px;
}

.trader-profile-section-title {
	margin-bottom: 32px;
	color: #352e5b;
	font-weight: bold;
	font-size: 18px;
}

.trader-profile-picture {
	margin-bottom: 18px;
	border: solid 2px #9381ff;
	border-radius: 50%;
	width: 72px;
	height: 72px;
	object-fit: cover;
}

.trader-name {
	margin-bottom: 18px;
}

.edit-profile-button {
	color: #7d67ff;
	font-weight: 500;
	font-size: 14px;
}
